DISCORD_BOT_TOKEN=
DISCORD_APPLICATION_ID=
DISCORD_GUILD_ID=
DISCORD_GOVERNANCE_CHANNEL_ID=
DISCORD_ADMIN_ROLE_ID=

GUILDBOT_SERVICE_KEY_B64=
GUILDBOT_SERVICE_PUBLIC_KEY_B64=

GOVERNANCE_QUORUM_NUMERATOR=2
GOVERNANCE_QUORUM_DENOMINATOR=3
GOVERNANCE_PROPOSAL_TTL_SECONDS=86400
